<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Điện Thoại</title>
</head>
<body>
<h1>Edit Điện Thoại</h1>
<form action="#" th:action="@{/dienthoai/edit}" th:object="${dienThoai}" method="post">
    <input type="hidden" th:field="*{maDienThoai}" />
    <div>
        <label for="maDienThoai">Mã Điện Thoại:</label>
        <input type="text" id="maDienThoai" th:field="*{maDienThoai}" readonly/>
    </div>
    <div>
        <label for="tenDienThoai">Tên Điện Thoại:</label>
        <input type="text" id="tenDienThoai" th:field="*{tenDienThoai}" />
    </div>
    <div>
        <label for="diaChi">Địa Chỉ:</label>
        <input type="text" id="diaChi" th:field="*{diaChi}" />
    </div>
    <div>
        <label for="giaVon">Giá Vốn:</label>
        <input type="number" id="giaVon" th:field="*{giaVon}" />
    </div>
    <div>
        <label for="loai">Loại:</label>
        <input type="text" id="loai" th:field="*{loai}" />
    </div>
    <div>
        <label for="nhaCungCap">Nhà Cung Cấp:</label>
        <input type="text" id="nhaCungCap" th:field="*{nhaCungCap}" />
    </div>
    <div>
        <button type="submit" >Save</button>
    </div>
</form>
<a href="/dienthoai/list">Back to list</a>
</body>
</html>